/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 80px;
    min-height: 100vh;
}

/* VARIABLES */
:root {
    --bgBlack: radial-gradient(
            circle at 84% 82%,
            rgba(217, 217, 217, 0.03) 0%,
            rgba(217, 217, 217, 0.03) 21%,
            transparent 21%,
            transparent 100%
        ),
        radial-gradient(
            circle at 75% 56%,
            rgba(3, 3, 3, 0.03) 0%,
            rgba(3, 3, 3, 0.03) 30%,
            transparent 30%,
            transparent 100%
        ),
        radial-gradient(
            circle at 74% 53%,
            rgba(153, 153, 153, 0.03) 0%,
            rgba(153, 153, 153, 0.03) 95%,
            transparent 95%,
            transparent 100%
        ),
        radial-gradient(
            circle at 86% 43%,
            rgba(209, 209, 209, 0.03) 0%,
            rgba(209, 209, 209, 0.03) 83%,
            transparent 83%,
            transparent 100%
        ),
        radial-gradient(
            circle at 64% 88%,
            rgba(192, 192, 192, 0.03) 0%,
            rgba(192, 192, 192, 0.03) 2%,
            transparent 2%,
            transparent 100%
        ),
        radial-gradient(
            circle at 73% 77%,
            rgba(205, 205, 205, 0.03) 0%,
            rgba(205, 205, 205, 0.03) 18%,
            transparent 18%,
            transparent 100%
        ),
        radial-gradient(
            circle at 57% 51%,
            rgba(161, 161, 161, 0.03) 0%,
            rgba(161, 161, 161, 0.03) 64%,
            transparent 64%,
            transparent 100%
        ),
        radial-gradient(
            circle at 40% 84%,
            rgba(115, 115, 115, 0.03) 0%,
            rgba(115, 115, 115, 0.03) 14%,
            transparent 14%,
            transparent 100%
        ),
        linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));

    --bgWhite: radial-gradient(
            circle at 13% 47%,
            rgba(140, 140, 140, 0.03) 0%,
            rgba(140, 140, 140, 0.03) 25%,
            transparent 25%,
            transparent 100%
        ),
        radial-gradient(
            circle at 28% 63%,
            rgba(143, 143, 143, 0.03) 0%,
            rgba(143, 143, 143, 0.03) 16%,
            transparent 16%,
            transparent 100%
        ),
        radial-gradient(
            circle at 81% 56%,
            rgba(65, 65, 65, 0.03) 0%,
            rgba(65, 65, 65, 0.03) 12%,
            transparent 12%,
            transparent 100%
        ),
        radial-gradient(
            circle at 26% 48%,
            rgba(60, 60, 60, 0.03) 0%,
            rgba(60, 60, 60, 0.03) 6%,
            transparent 6%,
            transparent 100%
        ),
        radial-gradient(
            circle at 97% 17%,
            rgba(150, 150, 150, 0.03) 0%,
            rgba(150, 150, 150, 0.03) 56%,
            transparent 56%,
            transparent 100%
        ),
        radial-gradient(
            circle at 50% 100%,
            rgba(25, 25, 25, 0.03) 0%,
            rgba(25, 25, 25, 0.03) 36%,
            transparent 36%,
            transparent 100%
        ),
        radial-gradient(
            circle at 55% 52%,
            rgba(69, 69, 69, 0.03) 0%,
            rgba(69, 69, 69, 0.03) 6%,
            transparent 6%,
            transparent 100%
        ),
        linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)) !important;

    --bgBlue: radial-gradient(
            circle at 10% 8%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 8%,
            transparent 8%,
            transparent 92%
        ),
        radial-gradient(
            circle at 87% 45%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 8%,
            transparent 8%,
            transparent 92%
        ),
        radial-gradient(
            circle at 9% 67%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 31% 83%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 46% 54%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 16% 24%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 18% 9%,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(255, 255, 255, 0.03) 6%,
            transparent 6%,
            transparent 94%
        ),
        radial-gradient(
            circle at 85% 69%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        radial-gradient(
            circle at 55% 7%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        radial-gradient(
            circle at 69% 69%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        radial-gradient(
            circle at 68% 60%,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.04) 4%,
            transparent 4%,
            transparent 96%
        ),
        linear-gradient(135deg, rgb(3, 7, 46), rgb(24, 44, 146));

    /* https://flatuicolors.com/palette/defo */
    --blue1: #2980b9;
    --blue2: #3498db;
    --green1: #27ae60;
    --green2: #2ecc71;
    --red1: #c0392b;
    --red2: #e74c3c;
    --black1: #2c3e50;
}

/* NAVIGATION */

nav {
    grid-column: 1 / 13;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue1);
}

.nav-list {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

/* MAIN */

main {
    grid-column: 1 / 13;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton {
    margin: 10px;
    min-width: 200px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton a, .bouton button {
    text-decoration: none;
    padding: 10px;
    background-color: var(--blue1);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000;
    border: none;
    font-family: sans-serif;
}

.bouton a:hover {
    padding: 15px;
}

.form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc-label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.bloc-label-input input {
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
}

/* FOOTER */
footer {
    grid-column: 1 / 13;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue1);
}

footer a {
    text-decoration: none;
    color: #fff;
}
